<html>

<head>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="auth">
    <h1>Log In</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="{{ category }}"><b>{{message}}</b></div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div>
        <form method="POST" action="/handle_login">
            <input type="text" name="username" placeholder="Username" />
            <input type="submit" value="Login" />
        </form>
    </div>

    <div>
        <a href="{{ url_for('signup') }}">
            Sign up
        </a>
    </div>
</body>

</html>